{% if todo_list %}
<h3>Aktuelle Todo's</h3>

<table border=1>
  <tr>
    <th width=200>Todo</th>
    <th width=150>Status</th>
    <th width=150>Status ändern</th>
  </tr>
  {% for todo in todo_list %}
  <tr>
    <td><a href="{% url 'todoapp:detail' todo.id %}">{{ todo.name }}</a></td>
    <td>/</td>
    <td>/</td>
   </tr>
   {% endfor %}
</table>

{% else %}
    <p>Keine Todo's.</p>
{% endif %}